@model IEnumerable<CrudOperation_CodeFirst.Models.Department>

@{
    ViewData["Title"] = "Index";
}
@if(ViewData["Message"] != null)
 {
                <div class="btn btn-danger">
                    <p>@ViewData["Message"]</p>
                </div>
 }
<hr />
<p>
    <a asp-action="Create" class="btn btn-success text-white">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentId" class="btn btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentId" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
